@import "_colors.scss";
@import "_mixins.scss";
@import "_fonts.scss";
@import "_variables";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 18px;
    font-family: "Comfortaa", cursive;
}

button {
    font-family: "Comfortaa", cursive;
    letter-spacing: 0.075em;
    background-color: transparent;
}

button,
a,
input,
textarea {
    outline: none;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Lobster", cursive;
    font-weight: normal;
}

.first-level-icon {
    path {
        fill: $white;
    }
}

.second-level-icon {
    path {
        fill: $brown;
    }
}
